.fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}

#title{
    top:50%;
    left: 0;
    right: 0;
    text-align:center;
    font-family:"lato",sans-serif;
    font-weight:300;
    font-size: 50px;
    letter-spacing:.104166667in;
    margin-top:-.625in;
    padding-left:.625pc;
}

#logo{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}



.column{
    padding-left:.25pc;
    padding-right:75pt
}

html{
    height: 100%;
}

.mbox{
    padding:-left 1.25rem;
    padding-bottom:1.25rem;
    padding-right:1.25rem;
    padding-top:1.25rem;
    border-radius:.1875rem;
    border-left-width:0;
    border-right-width:.0625rem;
    border-bottom-width:.0625rem;
    border-top-width:.0625rem;
    border-left-style:solid;
    border-bottom-style:solid;
    border-right-style:solid;
    border-top-style:solid;
    border-left-color:rgba(0,0,0,.3);
    border-bottom-color:rgba(0,0,0,.3);
    border-right-color:rgba(0,0,0,.3);
    border-top-color:rgba(0,0,0,.3);
    border-image:none;
    color:rgba(255,255,255,.7);
    background-color:rgba(0,0,0,.1);
    font-weight:400;
    font-size:.8125rem;
    margin-left:35%;
    margin-right:35%;
    max-width: 14.1cm;
    min-width: 4cm;
}

/*.mbox{
    margin-left: 40%;
    margin-right: 35%;
    border-left-style:solid;
    border-bottom-style:solid;
    border-right-style:solid;
    border-top-style:solid;
    border-left-color:rgba(0,0,0,.3);
    border-bottom-color:rgba(0,0,0,.3);
    border-right-color:rgba(0,0,0,.3);
    border-top-color:rgba(0,0,0,.3);
    border-image:none;
    color:rgba(255,255,255,.7);
    background-color:rgba(0,0,0,.1);
    font-weight:400;
    padding:-left 1.25rem;
    padding-bottom:1.25rem;
    padding-right:1.25rem;
    padding-top:1.25rem;
}*/

*{
    font-family:"Open Sans",sans-serif;
    color: white;
}

/* Style for the tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Style for the tooltip content */
.tooltip::after {
    content: attr(data-tooltip); /* Display the content from the 'data-tooltip' attribute */
    position: absolute;
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    border-radius: 8px; /* Rounded corners */
    padding: 8px 12px; /* Padding */
    font-size: 14px; /* Font size */
    white-space: nowrap; /* Prevent text from wrapping */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease; /* Smooth transition */
    z-index: 1; /* Ensure tooltip is above other content */
    top: -100%; /* Position above the element */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Centered horizontally */
}

/* Show the tooltip on hover */
.tooltip:hover::after {
    opacity: 1;
}
